/* Box Model Hack */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --body-bg: #202731;
  --header-bg: #181d25;
  --off-color: #b2b6bb;
  --accent-color: #e6a522;
  --copyright-bg: #101419;
}
  
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--body-bg);
  color: white;
  font-family: Segoe UI, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.0125rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: min(8.25vw, 3.5rem);  
  line-height: 1.125;
  letter-spacing: -.025rem;
}

/* Classes */
.site_width_container {
  max-width: 1488px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.line {
  max-width: 200px;
  height: 2px;
  flex: 1 1;
  background-color: var(--accent-color);
}

.accent-color {
  color: var(--accent-color);
}

.icon {
  fill: var(--off-color);
  filter: drop-shadow(0 4px 1px black);
}

/* Styles */

header {
  background-color: var(--header-bg);
}

/* NavBar */
nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--header-bg);
  width: 100vw;
}

.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--shortcuts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 32px;
  font-weight: 700;
}

.nav--shortcuts a {
  display: inline-block;
  padding: 1rem;
  color: #b2b6bb;
}

/* Hero Section */
.hero {
  display: flex;
  padding-block: 6rem 7rem;
}
.hero--content-container {
  flex: 7;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
}
.hero--image-container {
  flex: 3;
}
.hero--title,
.hero--subheader {
  margin: 0;
}

.hero--image {
  min-width: 0;
  width: 100%;
}
.hero--links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}
.hero--work {
  padding: .7rem 1rem;
  border: 1px solid white;
  border-radius: 3px;
}
.logo--arch {
  fill: white;
}
.logo--letters {
  fill: var(--accent-color);
}

/* Main */
main {
  padding-block: 6rem;
}


/* Projects */
.projects-container {
  --project-gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--project-gap);
  row-gap: 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - var(--project-gap) * 2) / 3);
}

.project--tools {
  color: var(--accent-color);
  font-weight: 100;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.project--image {
  min-width: 0;
  width: 100%;
  border-radius: 5px;
  margin-top: .5rem;
}

.project--title_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.project--title {
  margin-block: .5rem;
}
.project--description {
  margin: 0;
  margin-bottom: 2rem;
}

.project--links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: auto;
}

.project--link_icon {
  fill: var(--off-color);
}

/* About */
.about {
  padding-bottom: 5rem;
}

.about--subtitle {
  gap: 1rem;
  align-items: center;
}

.about--bottom,
.about--subtitle,
.about--list_wrapper {
  display: flex;
}

.about--bottom_section,
.about--list {
  flex: 1;
}

.about--bottom {
  gap: 4rem;
}

.about--description {
  margin: 0;
}

.about--list > ul {
  list-style: "\2713";
  padding: 0;
}
.about--list > ul li {
  margin-left: .75rem;
  padding-left: 1rem;
}

/* Footer */
footer {
  margin-top: auto;
}

/* Contact */
.contact {
  background-color: var(--header-bg);
  padding-block: 5rem;
}

.contact--email {
  text-decoration: underline;
  text-underline-offset: 1rem;
}

/* Copyright */
.copyright {
  background-color: var(--copyright-bg);
}

.copyright_content {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}

.copyright--links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 3rem;
}

/* Media Queries */
@media only screen and (max-width: 1108px) {
  .project {
    flex-basis: calc(50% - var(--project-gap));
  }
}

@media only screen and (max-width: 875px) {
  .hero--image-container {
    display: none;
  }
  
  .nav--shortcuts {
    gap: 0;
  }

  .project--tools {
    gap: 1.5rem;
  }

  .project,
  .about--bottom_section {
    flex-basis: 100%;
  }
  .about--bottom {
    flex: 0;
    flex-wrap: wrap;
  }

  .copyright_content {
    flex-direction: column  ;
    align-items: center;
    gap: .5rem;
  }

  .copyright--links {
    gap: 1.5rem;
  }
}