/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }


/* =========== STYLE =========== */

*, h1 {
  margin: 0;
  padding: 0;
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color: white;
}

.site_width_container {
  max-width: 1488px;
}