/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }


/* =========== STYLE =========== */

*, h1 {
  margin: 0;
  padding: 0;
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color: white;
}

p, a, img, span, input, textarea, button {
  font-size: 2.4rem;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 3rem;
}

h1, h2, h3 {
  padding-bottom: 10px;
}

h1 + p,
h2 + p {
  padding-bottom: 30px;
}

a {
  text-decoration: none;
  color: black;
}
.highlight {
  color: #94c973;
}
.highlight-alt {
  color: #015c30;
}
.bold {
  font-weight: 700;
}
.bold-style-two {
  font-weight: 600;
}
.readable {
  background: white;
}
.readable-helper {
  width: max-content;
}

/* BUTTONS */
.button-contact-form {
  height: 5rem;
  margin-top: 20px;
  width: 100px;
  border: 0;
  border-radius: 5px;
  background: #015c30;
  color: #ffffff;
}


/* ICONS & LOGOS */
.icon {
  float: left;
  transform: translateY(-10%);
}

/* ORGANIZATION */
header, 
main, 
body > section {
  padding: 0 16%;
}
main,
body > section {
  padding: 10% 16%;
}

/* BACKGROUND COLOR */
header {
  background: #00150a;
} 
main, 
#process {
  background: #015c30;
  background-color: #015c30;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #838383, #015c30), repeating-radial-gradient(circle at center center, #838383, #838383, 40px, transparent 80px, transparent 40px);
  background-blend-mode: multiply;
}
#projects,
#contact {
  color: #000000;
  background-color: #ffffff;
  opacity: 1;
  background-image:  radial-gradient(#89ad3c 2px, transparent 2px), radial-gradient(#89ad3c 2px, #fff 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;
}

footer {
  background: #00150a;
}

/* HEADER & NAV */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
}
nav ul {
  float: right;
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding-left: 6rem;
  line-height: 5rem;
}

/* MAIN */
main {
  margin-top: 5rem;
}
main span {
  font-size: inherit; /* Fixes sizing on span for first name */
}
main p:last-of-type {
  margin-top: 4rem;
}

/* PROJECTS SECTION */
#projects section {
  display: flex;
  flex-wrap: wrap;
}

#projects a {
  flex-basis: 33.3333%;
  background: white;
  text-align: center;
}

#projects a p {
  text-align: start;
  padding: 15px;
  line-height: 3rem;
}

#projects a img {
  max-width: 500px;
  max-height: 281px;
}

/* PROCESS SECTION */
#process section {
  width: 50%;
  float: left;
}

#process section {
  margin-top: 30px;
}
#process section p {
  padding-left: 75px;
}

/* CONTACT SECTION */
#contact h2 + p {
  padding-bottom: 0;
}
#contact h2 + p + p {
  margin-top: 30px;
}

#contact form {
  margin-top: 10px;
}

#contact form input[name="name"],
#contact form input[name="email"] {
  width: calc(50% - (20px/2));
  height: 5rem;
  display: inline-block;
}

#contact form input[name="name"] {
  margin: 0 20px 20px 0;
}

#contact form textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
}

#contact form input,
#contact form textarea {
  background: #f7f7f7;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  padding: 10px;
}

#contact form input:focus,
#contact form textarea:focus {
  border: 1px solid #015c30;
  outline: 0;
}

/* FOOTER */
footer {
  overflow: hidden;
  text-align: center;
  padding: 2% 0;
  color: #d3e5e7;
}

footer ul:first-child {
  margin-bottom: 40px;
}

footer ul li {
  display: inline-block;
  padding: 0 15px;
}



/* MEDIA QUERIES */

/* TYPOGRAPHY */
@media screen and (max-width: 1080px) {
  p, a, img, span, input, textarea, button {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 4rem;
  }
  
}

/* ORGANIZATION */
@media screen and (max-width: 1324px) {
  header,
  main,
  body > section {
    padding: 0;
  }
  main,
  body > section {
    padding: 10% 5%;
  }
}


/* HEADER & NAV */
@media screen and (max-width: 900px) {
  nav {
    text-align: center;
  }

  nav ul {
    float: none;
  }

  nav ul li {
    padding: 0 30px;
  }
}


/* PROJECTS */
@media screen and (max-width: 1080px) {
  #projects a {
    width: 100%;
  }
}

/* PROCESS & CONTACT*/
@media screen and (max-width: 742px) {
  #process section,
  #contact form input[name="name"],
  #contact form input[name="email"] {
    width: 100%;
    margin-bottom: 20px;
  }
}