/* Box Model Hack */
* {
  box-sizing: border-box;
}
  
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* ############ STYLE ############ */

*, h1 {
margin: 0;
padding: 0;
}

/* ========= TYPOGRAPHY ========= */
html {
font-size: 62.5%;
font-family: sans-serif;
scroll-behavior: smooth;
}

p, a, img, span, input, textarea, button {
font-size: 1.6rem;
}
h1 {
  font-size: 10rem;
  font-weight: 200;
}
h2 {
  font-size: 6rem;
  font-weight: 200;
}
h3 {
  font-size: 4rem;
  font-weight: 300;
}
h4 {
  font-size: 2rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

/* LOGO FONT */
.logo {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 4rem;
}

.uppercase {
  text-transform: uppercase;
}
.invert-color {
  color: white;
}
.alt-color {
  color: black;
}
.letter-spacing-1 {
  letter-spacing: 1px;
}
.letter-spacing-3 {
  letter-spacing: 3px;
}

/* ========= BUTTONS ========= */
.button-style-one {
  background: black;
  display: inline-block;
  padding: 15px 30px;
}
.button-style-two {
  background: white;
  display: inline-block;
  padding: 15px 30px;
}
/* ========= HEADER / NAV ========= */
/* CENTERS MIDDLE CHILD */
nav {
  position: relative;
}
nav ul:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}

/* SPACING FOR MIDDLE CHILD */
nav ul:nth-child(2) li a {
  padding: 0 40px;
}

/* FIXES DEFAULT LIST STYLE */
nav ul li {
  display: inline-block;
}

/* VERTICALLY CENTERS NAV */
nav ul li,
nav img {
  line-height: 100px;
  vertical-align: middle;
}

/* FLOATS FIRST AND LAST CHILD */
nav ul:first-child {
  float: left;
  padding-left: 5%;
}
nav ul:last-child {
  float: right;
  padding-right: 5%;
}

/* ========= MAIN ========= */
main {
  background-image: url(../images/main-1.jpg);
  background-position: 50% 15%;
  background-size: cover;
  padding: 250px 0 30px 10%;
  position: relative; /* Used for schedule */
}

/* INVERTED COLOR SECTIONS */
main div {
  background: black;
  width: max-content;
}

/* SERVICE BUTTON */
main > a {
  margin-top: 40px;
}

/* BOTTOM INVERTED AREA */
main div {
  margin-top: 80px;
  padding: 45px 30px 45px 0;
}
/* OFFSET */
main div > span,
main div p,
main div a {
  padding-left: 30px;
}
/* WHITE BORDER ON ONE SIDE
  The bottom inverted section has no padding, the seperation from the sides 
  is from the padding on the elements inside of the section itself, this is needed
  for the border
*/
main div > span {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 4px solid white;
}
main div p {
  line-height: 30px;
}
/* PERCENTAGE OFF FOCUS */
main div p span {
  font-size: 3rem;
  font-weight: 700;
}
/* WHITE BUTTON */
main div a {
  margin-top: 30px;
  margin-left: 30px;
}

.schedule {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateX(40%) rotate(90deg);
}

/* ========= SERVICES SECTION ========= */
#services {
  text-align: center;
  padding: 150px 0;
}
#services div {
  display: inline-block;
  width: 20%;
  margin: 0 45px;
}
#services div h3 {
  margin: 20px 0;
}
#services div span {
  font-size: inherit;
}
#services div p {
  line-height: 3rem;
}

/* ========= DESTINY SECTION ========= */
#destiny {
  background: #edddcd;
  text-align: center;
  padding: 150px 0;
}
#destiny div,
#destiny video {
  display: inline-block;
  vertical-align: middle;
  padding: 0 40px;
}
#destiny div {
  width: 30%;
  text-align: start;
}
#destiny div h2 span {
  font-size: inherit;
  display: block;
}
#destiny div p {
  margin: 30px 0;
  line-height: 3rem;
}

/* ========= STYLISTS SECTION ========= */
#stylists {
  text-align: center;
  padding: 150px 0;
}

#stylists > div {
  display: inline-block;
  margin: 0 20px;
}

#stylists div div {
  background: black;
  width: max-content;
  margin: 0 auto;
  padding: 30px 40px;
  transform: translateY(-50%);
}

#stylists p {
  margin-top: 10px;
}

/* ========= LOOKBOOK SECTION ========= */
#lookbook {
  background: #bee4f1;
  text-align: center;
  padding: 150px 0;
}

#lookbook p {
  margin: 20px 0;
  font-weight: 700;
} 

#lookbook div div {
  display: inline-block;
  width: 500px;
  margin: 0 10px;
}

#lookbook .top-row {
  margin-bottom: 20px;
}

/* ========= FOOTER ========= */
footer {
  text-align: center;
  padding: 30px 0;
  background: #1f3c4a;
}
footer a {
  text-decoration: white underline dotted;
}

/* ========= MEDIA QUERIES ========= */

/* NAVIGATION */
/* Fixes nav bar mid child being displaced by centering it between the logo and book online */
@media screen and (max-width: 2275px) {
  nav {
    text-align: center;
  }

  nav ul:nth-child(2) {
    position: static;
    transform: none;
    display: inline-block;
  }
}

/* Book online is moved to a second line 
Solved by reducing padding in the nav bar */
@media screen and (max-width: 1816px) {
  nav ul:nth-child(2) li a {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1460px) {
  nav ul:nth-child(2) .optional {
    display: none;
  }
}
/* Places last child on top row and makes second child full width */
@media screen and (max-width: 1118px) {
  nav ul:nth-child(2) {
    width: 100%;
  }

  nav {
    position: relative;
  }

  nav ul:last-child {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  nav ul:nth-child(2) .optional {
    display: inline-block;
  }
}

@media screen and (max-width: 792px) {
  nav ul:nth-child(2) .optional {
    display: none;
  }
}

/* Finally removes second and third child, makes first child smaller */
@media screen and (max-width: 596px) {
  nav ul:first-child {
    float: none;
  }

  nav ul:nth-child(2) {
    display: none;
  }

  nav ul:last-child {
    display: none;
  }

  .logo {
    font-size: 3rem;
  }

  nav ul:first-child img {
    width: 32px;
  }
}


/* MAIN */
@media screen and (max-width: 2140px) {
  main {
    background-repeat: no-repeat;
    background-position: left 0px top 15%;
    background-size: 125%;
  }

  .schedule {
    font-weight: 700;
    top: 80%;
  }
}

@media screen and (max-width: 1118px) {
  h1 {
    font-size: 6rem;
  }
  main {
    background-position: left 15% top 15%;
    background-size: 145%;
  } 
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 5rem;
  }

  .letter-spacing-3 {
    letter-spacing: 1px;
  }
}


/* SERVICES */
@media screen and (max-width: 2186px) {
  #services div span {
    display: block;
  }
}

@media screen and (max-width: 1270px) {
  h3 {
    font-size: 4rem;
  }

  #services div {
    width: 100%;
    margin: 0;
    padding: 0 10%;
  }
  #services div p {
    text-align: start;
  }
}


/* DESTINY */
@media screen and (max-width: 1678px) {
  h2 {
    font-size: 4rem;
  }

  #destiny div {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  #destiny div p {
    text-align: start;
  }

  #destiny div h2 span {
    display: inline;
  }
}

@media screen and (max-width: 1094px) {
  #destiny video {
    width: 100%;
    padding: 0;
  } 
}

/* STYLISTS */
@media screen and (max-width: 470px) {
  #stylists > div,
  #stylists > div img {
    width: 98%;
    margin: 0 10px;
    margin: 0;
  }

  #stylists div img {
    
    margin: 0 1%;
  }
}

/* LOOKBOOK */
@media screen and (max-width: 1566px) {
  #lookbook > div div:last-child {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1043px) {
  #lookbook > div div:nth-child(2) {
    margin-top: 20px;
  }
}

@media screen and (max-width: 546px) {
  #lookbook div div {
    width: 100%;
    margin: 0;
  }

  #lookbook img {
    width: 100%;
  }
}